/* path.stateBoundary {
  stroke: #999;
  fill: transparent;
}

path.stateBoundary:hover {
  stroke: black;
} */

.mapControls {
  width: 50px;
}

.mapControls button {
  margin-top: 35px;
}

.mapCanvas {
  overflow: hidden;
}

.map .unselectable {
  pointer-events: none;
}

.map {
  position: relative;
}

.mapControls {
  display: inline-block;
  
  vertical-align: top;
}
