/* path.stateBoundary {
  stroke: #999;
  fill: transparent;
}

path.stateBoundary:hover {
  stroke: black;
} */

.mapControls {
  width: 50px;
}

.mapControls button {
  margin-top: 35px;
  margin-left: 10px;
  padding: 0;
}

.mapControls button svg line {
  stroke-width: 2;
  stroke: black;
}

.mapCanvas {
  overflow: hidden;
}

.map .unselectable {
  pointer-events: none;
}

.map {
  position: relative;
}

#map * {
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
}

.mapControls {
  display: inline-block;
  
  vertical-align: top;
}
