path.stateBoundary {
  stroke: #444;
  fill: transparent;
}

path.stateBoundary:hover {
  stroke: black;
}

.mapCanvas {
  overflow: hidden;
}

.map .unselectable {
  pointer-events: none;
}

.map {
  display: inline-block;
}

.mapControls {
  display: inline-block;
  
  vertical-align: top;
}
