nav.navbar {
  text-align: center;
}

.navbar, .navbar a {
  color: black;
  text-decoration: none;
}

.navbar li span {
  cursor: pointer;
}

.navbar li.active {
  border-bottom: 4px solid silver;
}

.navbar li.active.counties {
  border-bottom: 4px solid var(--map-counties-color);
}

.navbar li.active.cities {
  border-bottom: 4px solid var(--map-cities-color);
}

.navbar li.active.themes {
  border-bottom: 4px solid var(--themes-color);
}

.navbar li.active.photographerslink {
  border-bottom: 4px solid var(--photographers-color);
}

.navbar ul {
  list-style: none;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin: 4px;
  font-size: 11px;
}

@media only screen and (min-width: 768px) {
  .navbar ul {
    list-style: none;
    max-width: 90%;
    float: right;
    margin-right: 40px;
  }

  .navbar ul li {
    margin: 10px;
    font-size: 1.2em;
  }
}


