.filter {
  height: 34px;
  margin-bottom: 15px;
}

.filter {
  height: 36px;
  border: 3px solid grey;
  border-radius: 18px;
  width: 80%;
  margin: 0 auto;
  background-color: #eee;
  display: grid;
  grid-template-columns: auto 40px;
}

.filter.filtered {
  grid-template-columns: auto 40px 40px;
}

.wrapper.counties .filter {
  border-color: var(--map-counties-color);
}

.wrapper.cities .filter {
  border-color: var(--map-cities-color);
}

.wrapper.themes .filter {
  border-color: var(--themes-color);
}

.filter > * {
  height: 30px;
}

.filter.active {
  border: 3px solid black;
  background-color: white;
  
}

.filter input[type=text] {
  height: 36px;
  width: 100%;
  padding: 0px 0 0px 20px;
  font-size: 18px;

  /* border-color: salmon;
  border-left-width: 2px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-right: none; */
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px; 
  border: none;
  box-shadow: none;
  background-color: #eee;
  vertical-align: middle;
  z-index: 10;
}
.filter input[type=text]:focus {
  outline-width: 0;
  background-color: transparent;
}

.filter button {
  display: inline-block;
  height: 36px;
  width: 100%;
  padding: 0;
  /* border: solid salmon;
  border-left-color: #eee;
  border-width: 2px;*/
}

.filter button[type=submit] {
  width: 100%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px; 
  border-top-left-radius: 0; 
  border-bottom-left-radius: 0; 
  box-shadow: none;
  background-color: transparent;
  vertical-align: middle;
}

.filter.active button[type=submit] {
  background-color: black;
  stroke: white;
}

.filter button svg * {
  stroke: black;
}

.filter.active button[type=submit] svg * {
  stroke: white;
}

.filter button[type=reset] {
  height: 30px;
  width: 30px;
  margin: 3px;
  border-radius: 18px;
  background-color: transparent;
  box-shadow: none;
}

.filter button[type=reset] {
  height: 30px;
  width: 30px;
  margin: 3px;
  border-radius: 18px;
  background-color: transparent;
  box-shadow: none;
}

.filter button[type=reset]:hover {
  background-color: silver;
  box-shadow: 1px;
}
