.photographer h2 {
  text-align: center;
}

.photographer figure {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .photographer {
    display: grid;
    grid-template-columns: 50px 1fr 2fr;
    grid-template-rows: 50px calc(100vh - 150px);
    height: calc(100vh - 100px);
    overflow-y: hidden;
  }

  .photographer .close {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
  }

  .photographer h2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    text-align: right;
  }

  .photographer.AikenAndWool h2 {
    grid-column: 2 / span 2;
    text-align: left;
  }

  .photographer figure {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    overflow-y: scroll;
    font-size: 1.1em;
    text-align: right;
    padding-bottom: 20px;
  }

  .photographer .bioAndInterviews {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    overflow-y: scroll;
  }

  .photographer figure {
    margin-right: 0;
  }
}

.photographer > * {
  padding: 0 10px;
}



.photographer .interviews h4 {
  font-size: 1.2em;
  margin-bottom: 0px;
}

.photographer .interviews button {
  width: auto;
  margin: 10px 5px;
  font-size: 12px;
  height: 30px;
  font-weight: 300;
  border-radius: 15px;
  box-shadow: none;
  border: 1px solid var(--photographers-color);
}

.photographer .interviews button.partsButton {
  width: 30px;
}

.photographer .interviews button.partsButton.active {
  background-color: #666;
  color: white;
  font-weight: 700;
}

.photographer .interviews button.disableScrolling {
  margin-left: 30px;
}


.photographer .interviews .controls_nav {
  height: 100px;
  font-size: 1.1em;
  background-color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
}

.photographer figure img {
  max-width: 100%;
}

.photographer .transcript {
/*  max-width: 600px;
  max-height: calc(100vh - 100px - 150px);
  overflow-y: scroll;
  text-align: left;*/
  font-size: 1.1em;
}

.photographer .close button {
  padding: 0;
  margin: 10px;
}

.photographer .close button svg line {
  stroke-width: 2;
  stroke: black;
}

.expandedSidebar .photographer {
  grid-template-columns: 50px auto;
  grid-template-rows: 50px auto;
}

.expandedSidebar .photographer h2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
}

.expandedSidebar .photographer .photographerData {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  overflow-y: scroll;
}

.expandedSidebar .photographer .photographerData > * {
  grid-column: auto;
  grid-row: auto;
  margin-right: 30px;
}

.expandedSidebar .photographer .photographerData * {
  grid-column: auto;
  grid-row: auto;
}

.expandedSidebar .photographer figure {
  max-width: 300px;
}

.expandedSidebar .photographer .interviews .controls_nav {
  top: 100px;
}



