ul.photographerFilter {
  border: 1px solid grey;
  border-radius: 10px;
  width: 227px;
  padding: 5px 0;
  z-index: 30;
  position: relative;
  background-color: white;
}

.photographerFilter li {
  list-style: none;
  height: 25px;
  padding: 0 5px;
}

.photographerFilter .name {
  width: 200px;
  display: inline-block;
}

.photographerFilter .dot {
  display: inline-block;
  height: 14px;
  width: 14px;
  border-radius: 7px;
}


