.selectedPhoto {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 35px auto auto auto;
  overflow: visible;
}

button[role=expand] {
  display: none;
}

.selectedPhoto .metadata {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  overflow-x: visible;
  overflow-y: visible;
  z-index: 1000;
}

.selectedPhoto .close {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  text-align: right;
  margin-right: 5px;
}

.selectedPhoto .img {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.selectedPhoto .relatedImages {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}


.selectedPhoto .img img.full {
  padding: 0;
  max-width: calc(100% - 20px);
  max-height: auto;
  margin: 0 auto;
  display: block;
}

.metadata {
  display: grid;
  grid-template-columns: 40vw auto;
  grid-gap: 10px;
}

.metadata li {
  list-style: none;
  clear: both;
}

.metadata h5 {
  text-align: right;
  margin: 0;
}

.metadata .metadatum {
  max-width: 50vw;
  text-align: left;
}

.metadata .map {
  grid-column: 1 / span 2;
  margin: 0 auto;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .selectedPhoto {
    display: grid;
    grid-template-columns: 50px 1fr 2fr 45px;
    grid-template-rows: auto auto;
    overflow: visible;
  }

  button[role=expand] {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    display: block;
    margin-right: 20px;
  }

  .selectedPhoto .metadata {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    overflow-x: visible;
    overflow-y: visible;
    z-index: 1000;
    text-align: right;
  }

  .selectedPhoto .close {
    margin-top: 35px;
    margin-left: 10px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .selectedPhoto .img {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }

  .selectedPhoto .relatedImages {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }

  .selectedPhoto .img img.full {
    padding: 0 0 0 20px;
    max-width: calc(100% - 45px);
    max-height: calc(100vh - 101px -  325px);
    display: inline-block;

  }

  .selectedPhoto .metadata {
    display: block;
  }

  .selectedPhoto .metadata * {
    font-size: 1em;
    text-align: right;
    margin-right: 7px;
    clear: both;
  }

  .selectedPhoto.metadata .map {
      margin: 0;
    }

}

.selectedPhoto .img > * {
  vertical-align: top;
}




/*
.similarPhotos {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  overflow-x: scroll;
} 

.similarPhotos .cards {
  white-space: nowrap;
  padding: 0 20px;
} */

.similarPhotos .cards {
  display: inline-block;
} 


.selectedPhoto h5 {
  color: #111;
  margin: 0;
  font-size: 1em;
  color: #555;
}

.selectedPhoto .img h5 {
  text-align: center;
}

.caption-text-description p {
  color: #555;
}

.selectedPhoto button {
  padding: 0;
}

.selectedPhoto button svg line {
  stroke-width: 2;
  stroke: black;
}

.selectedPhoto .metadata button,
.selectedPhoto .tags a {
  width: auto;
  min-height: 30px;
  font-weight: normal;
  font-size: 14px;
  box-shadow: none;
  line-height: 25px;
  border-radius: 15px;
  position: relative;
  padding: 1px 7px 2px;
  background-color: #f5f5f5;
  color: #222;
  margin: 4px 0 4px -7px;
  text-decoration: none;
}

.selectedPhoto .metadata button:hover,
.selectedPhoto .tags a:hover {
  background-color: #ddd;
  color: black;
}

.selectedPhoto .tags a {
  display: inline-block;
  min-height: 26px;
  margin: 0 5px;
}

.selectedPhoto .strip {
  width: calc(100% - 80px);
  margin: 0 20px;
  display: flex;
  align-items: center;
  background-color: black;
}

.selectedPhoto .strip a {
  margin: 0;
}

.selectedPhoto .strip .stripPhoto {
  display: inline-block;
  overflow: visible;
  border: 3px solid black;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  z-index: 1000;
}

.selectedPhoto .strip .selected {
  border-color: #8BB900;
  border: 5px solid #8BB900;;
}

.selectedPhoto .strip img {
  padding: 0;
  width: 100%;
  opacity: 0;
}


.selectedPhoto .strip li img {
  min-width: 150px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.selectedPhoto .similarPhotos,
.selectedPhoto .similarPhotos * {
  margin: 0;
}


