.photoCard {
  height: 350px;
  border: 0px solid pink;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
}

.photoCard.selected {
  border-color: grey;
}

.photoCard .thumbnail {
  height: 175px;
  border: none;
  vertical-align: bottom;
  position: relative;
  margin: 0;
}

.photoCard .thumbnail * {
  vertical-align: bottom;
  position: absolute;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.photoCard .thumbnail .noimage {
  bottom: 50px;
  font-style: italic;
  text-align: center;
}


.photoCard .post-entry-caption {
  height: 50px;
  font-weight: 700;
  line-height: 1.2;
  overflow: hidden;
}

.photoCard .post-entry-location {
  height: 50px;
  font-weight: 700;
  line-height: 1.2;
  overflow: hidden;
  margin-top: 5px;
}

.photoCard .post-entry-photographer,
.photoCard .post-entry-date {
  height: 20px;
  line-height: 1.2;
  overflow: hidden;
  margin-top: 5px;
}

.photoCard a {
  color: #777;
}

.photoCard .post-entry a {
  color: #333;
}

.photoCard .notSelected {
  color: silver;
}




