.photoCard {
  border: 0px solid transparent;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: inline-block;
  font-weight: 300;
}

.photoCard.selected,
.photoCard:hover {
  border-color: grey;
}

.photoCard .thumbnail {
  height: 65%;
  border: none;
  vertical-align: bottom;
  position: relative;
  margin: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}

.photoCard .thumbnail * {
  vertical-align: bottom;
  position: absolute;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.photoCard .noimage {
  padding: 25% 0;
  font-style: italic;
  text-align: center;
  border: 1px solid #eee;
}


.photoCard .post-entry-caption {
  height: 14%;
  width: 100%;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 700;
  white-space: normal;
}

.photoCard .post-entry-location,
.photoCard .post-entry-photographer,
.photoCard .post-entry-date {
  height: 7%;
  line-height: 1.2;
  overflow: hidden;
}

.photoCard a {
  color: #777;
  text-decoration: none;
}

.photoCard .post-entry a {
  color: #333;
}

.photoCard .notSelected {
  color: silver;
}

.photoCard .post-entry-date,
.photoCard .post-entry-photographer {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: visible;
  text-overflow: ellipsis;
}

/* Hacky. This keeps the photoCards property vertically aligned if there isn't a date. */
.photoCard .post-entry-date:after {
  content: '.';
  color: transparent;
}




