#sidebar {
  position: fixed;
  left: 0;
  top: 101px;
  bottom: 10px;
  width: 33%;
  min-width: 200px;
  border-right: 1px solid;
  overflow: hidden;
}


#sidebar-photos {
  /* the sidebar header is 70px in height) */
  height: calc(100% - 70px);
  display: flex;
  width: 100vw;
}



#sidebar-photos .photoPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
  height: 100%;
  width: 33%;
  margin: 0;
}

