.noPhotos {
  text-align: center;
}

#sidebar {
  overflow: hidden;
  z-index: 1000;
}

#sidebar-photos {
  /* the sidebar header is 70px in height) */
  display: flex;
  width: 300vw;
  position: relative;
}

@media only screen and (min-width: 768px) {
  #sidebar-photos {
    /* the sidebar header is 70px in height) */
    height: calc(100% - 70px);
    display: flex;
    width: max(200vw, 600px);
  }
}



#sidebar-photos .photoPage {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  width: max(33vw, 200px);
  margin: 0;
}

.expandedSidebar #sidebar-photos .photoPage {
  width: max(66vw, 200px);
}

.blankCard {
  width: 200px;
  height: 1px;
}

