#sidebarHeader .facets {
  margin-left: -7px;
}

#sidebarHeader .facets button {
  width: auto;
  height: 30px;
  font-weight: normal;
  box-shadow: none;
  line-height: 25px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  padding: 1px 7px 2px;
  background-color: #BFD5D5;
  margin-left: 2px;
}

#sidebarHeader .facets button.counties {
  background-color: var(--map-counties-lightened-color);
}

#sidebarHeader .facets button.cities {
  background-color: var(--map-cities-lightened-color);
}

#sidebarHeader .facets button.themes {
  background-color: var(--themes-lightened-color);
}

#sidebarHeader .facets button + button {
  margin-left: 10px;
}

#sidebarHeader .facets span {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

#sidebarHeader .facets svg {
  position: absolute;
  left: calc(50% - 15px);
  visibility: hidden
}

#sidebarHeader .facets button:hover {
  color: #dedede;
  background-color: #eee;
}

#sidebarHeader .facets button:hover svg {
  visibility: visible;
}

/* styling for the timerange button */
#sidebarHeader .timeAndNav .facets button {
  height: 25px;
  font-size: 14px;
  text-align: left;
  color: #777;
  padding: 1px 7px 2px;
  margin: 0;
}

#sidebarHeader .facets button:disabled {
  color: black;
  background-color: transparent;
}

#sidebarHeader .facets button:disabled:hover svg {
  visibility: hidden;
}


