#sidebarHeader {
  width: 90%;
  height: 100px;
  margin: 10px auto;
  border-top: 3px solid black;
}

#sidebarHeader h3 {
  margin: 0;
  color: black;
  font-size: 1.25em;
  line-height: 25px;
}

#sidebarHeader h3.noPhotos {
  font-size: 25px;
  text-align: center;
  line-height: 35px;
}


/* the empty column hides the expanded sidebar on mobile */
#sidebarHeader .timeAndNav {
  display: grid;
  grid-template-columns: auto auto 40px 40px 0px;
  height: 25px;
}

@media only screen and (min-width: 768px) {
  #sidebarHeader {
    border: 0;
  }
  #sidebarHeader .timeAndNav {
    display: grid;
    grid-template-columns: auto auto 40px 40px 40px;
    height: 25px;
  }
}


#sidebarHeader .timeAndNav h4,
#sidebarHeader .timeAndNav .counts {
  line-height: 25px;
  margin: 0;
}

#sidebarHeader .timeAndNav .counts,
#sidebarHeader .timeAndNav button {
  justify-self: end;
}

#sidebarHeader .timeAndNav button {
  padding: 0;
  margin-left: 10px;
  height: 25px;
}

#sidebarHeader .timeAndNav button svg line {
  stroke-width: 2;
  stroke: black;
}

#sidebarHeader .timeAndNav button:disabled svg line {
  stroke: silver;
}


#sidebarHeader button.clearSearch {
  width: auto;
  margin: 0 auto;
  display: block;
}




