@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans&display=swap');

/* ------------------------------------------------------------------
General Styles
------------------------------------------------------------------ */

:root {
  --map-counties-color: #6a1b9a;
  --map-cities-color: #289261;
  --themes-color: #F78154;
}

body {
  background: #fff;
  -ms-overflow-style: scrollbar;
  font: 400 14px/1.8 "Lato", sans-serif;
  color: #777;
  min-width: 800px;
  min-height: 600px;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

button {
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 0 4px grey;
  border: none;
  border-radius: 3px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  color: black;
}

button:disabled {
  color: #ddd;
  box-shadow: 0 0 4px #ddd;
}

button:focus {
  outline: none;
}



/* ------------------------------------------------------------------
Layout
------------------------------------------------------------------- */


.wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 2fr;
  grid-template-rows: 100px auto;
  height: 100vh;
}

#sidebar {
  grid-column-start: 1;
  grid-row-start: 2;
}

#viz-canvas {
  grid-column-start: 2;
  grid-row-start: 2;
  border-left: 1px solid black;
  position: relative;
}

/* ------------------------------------------------------------------
Navigation
------------------------------------------------------------------- */



.navbar-header {

  padding: 20px 10px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  text-align: right;
  font: 100 28px "Lato", sans-serif;
  font-style: italic;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: bold;
}

.navbar-header a {
  list-style: none;
  color: black;
}



/* Push search */

#viz-canvas {

  /*position: fixed;
  right: 0;
  top: 101px;
  bottom: 0;
  width: 66%;
  max-width: calc(100%-200px);
  overflow-y: scroll;*/
}
