@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans&display=swap');


/* ------------------------------------------------------------------
General Styles
------------------------------------------------------------------ */

:root {
  --map-counties-color: #6a1b9a;
  --map-cities-color: #289261;
  --themes-color: #F78154;
  --photographers-color: #297373;

  --map-cities-lightened-color: #BFDED0;
  --map-counties-lightened-color: #E1D1EB;
  --themes-lightened-color: #FDD9CC;
}

body {
  background: #fff;
  -ms-overflow-style: scrollbar;
  font: 400 14px/1.8 "Lato", sans-serif;
  color: #777;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

button {
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 0 4px grey;
  border: none;
  border-radius: 3px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  color: black;
  cursor: pointer;
}

button:disabled {
  color: #ddd;
  box-shadow: 0 0 4px #ddd;
  cursor: auto;
}

button:focus {
  outline: none;
}

a {
  color: var(--map-counties-color);
  text-decoration: none;
}



/* ------------------------------------------------------------------
Layout
------------------------------------------------------------------- */
/* for mobile */
 .wrapper {
/*    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 50px 50px 50vh 50px 75px calc(100vh - 75px);*/
    width: 100vw;
    overflow-x: hidden;
  }

  #viz-canvas {
    height: 50vh;
    overflow-y: scroll;
  }

  #sidebar-photos {
    height: calc(100vh - 100px);
  }




@media only screen and (min-width: 768px) {
  /* For desktop: */

  .wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr 1fr;
    grid-template-rows: 100px 100px calc(100vh - 200px);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  header.navbar-header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  #sidebarHeader {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  #sidebar-photos {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  #viz-canvas {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    border-left: 1px solid black;
    position: relative;
    background-color: white;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    z-index: auto;
  }

  #vizToggle {
    display: none;
  }

  .navbar {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
  }

  .expandedSidebar #sidebar {
    grid-column: 1 / span 2;
  }

  .expandedSidebar #viz-canvas {
    grid-column: 3 / span 1;
  }

}

/* ------------------------------------------------------------------
Navigation
------------------------------------------------------------------- */



.navbar-header {
  padding: 5px 10px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  text-align: center;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: bold;
}

.navbar-header img {
  max-width: 90vw;
  max-height: 40px !important;
}

.navbar-header a {
  list-style: none;
  color: black;
}


@media only screen and (min-width: 768px) {
  .navbar-header {
    text-align: left;
  }
  .navbar-header img {
    padding: 20px 10px;
    max-width: calc(30vw - 40px);
    max-height: 50px !important;
    margin-left: 20px;
  }
}




/* Push search */

#viz-canvas {
  background-color: white;
  z-index: 1001;
  /*position: fixed;
  right: 0;
  top: 101px;
  bottom: 0;
  width: 66%;
  max-width: calc(100%-200px);
  overflow-y: scroll;*/
}

#modalWrapper {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 25, 25, 0.6);
  z-index: 1500;


}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: min(600px, 90vw);
  height: 300px;
  margin-top: -150px;
  margin-left: max(-300px, -45vw);
  overflow-y: scroll;
  background-color: white;
  padding: 20px;
  font-size: 1.1em;
  border-radius: 20px
}

#modalWrapper button {
  float: right;
  padding: 0;
}

.modal p {
  clear: both;
}
